.transparentHeading {
  /* background: rgb(238,174,225);
  background: radial-gradient(circle, rgba(238,174,225,1) 0%, rgba(211,233,148,1) 100%); */
  background-position-y: 700px;
  font-size: 8vh;
  font-weight: 900;
  text-align: center;
  letter-spacing: -1px;
  overflow-wrap: break-word;
  line-height: 85%;
  z-index: 1 !important;


  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fll-color: transparent;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#behind {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

#gradientBodyBG {
	background: rgb(121,31,9);
	background: radial-gradient(circle, rgba(121,31,9,1) 0%, #1E1E1E 47%);
	background-repeat: no-repeat;
  background-attachment: fixed;
}

#projectCont{
  color: whitesmoke;
}


.transition-1 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: #1E1E1E;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;
}

.transition-1.is-active {
  opacity: 1;
  pointer-events: all;
}